.m-pban {
    min-width: 1000px;
    height: 440px;
    padding-top: 28px;
}

.m-pban .pban_tt {
    padding-top: 188px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    color: #fff;
}

.m-pban .pban_stt {
    padding-top: 10px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}

.m-pban-drag {
    background: #141e26 url(../res/web/trial_drag_ban.jpg?e9a08f97095424636a87396b4f2a9bb8) no-repeat center 28px;
}

.m-pban-click {
    background: #141e26 url(../res/web/trial_click_ban.jpg?73c84e45d919c0511d3ce7dde7563154) no-repeat center 28px;
}

.m-btab .btab_hd {
    height: 280px;
    min-width: 1000px;
    background-color: #fafafa;
    text-align: center;
}

.m-btab .btab_hd .item {
    float: left;
    box-sizing: border-box;
    height: 280px;
    width: 33.333%;
    padding: 57px 40px 0;
    cursor: pointer;
}

.m-btab .btab_hd .item.z-act .i-captrial-over, .m-btab .btab_hd .item:hover .i-captrial-over {
    background-image: url(../res/trial_captcha_34b519f75ce14d2eee3b4b74a7b1f797.png);
    background-position: -0px -0px;
}

.m-btab .btab_hd .item.z-act .i-captrial-inline, .m-btab .btab_hd .item:hover .i-captrial-inline {
    background-image: url(../res/trial_captcha_34b519f75ce14d2eee3b4b74a7b1f797.png);
    background-position: -74px -0px;
}

.m-btab .btab_hd .item.z-act .i-captrial-wap, .m-btab .btab_hd .item:hover .i-captrial-wap {
    background-image: url(../res/trial_captcha_34b519f75ce14d2eee3b4b74a7b1f797.png);
    background-position: -0px -74px;
}

.m-btab .btab_hd .item.z-act {
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    background-color: #fff;
}

.m-btab .btab_hd h3 {
    padding-top: 6px;
    font-size: 18px;
    line-height: 40px;
    color: #333;
}

.m-btab .btab_hd p {
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

.m-btab .btab_bd {
    position: relative;
    height: 352px;
    padding-top: 64px;
    background-color: #fff;
}

.m-btab .btab_bd .item {
    position: absolute;
    top: 64px;
    width: 400px;
    height: 352px;
    left: 50%;
    margin-left: -200px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.m-btab .btab_bd .item.z-act {
    visibility: visible;
    opacity: 1;
}

.m-btab .btab_bd .wapimg {
    text-align: center;
}

.m-btab .btab_bd .wapimg span {
    display: block;
    padding-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #666;
}

.i-captrial {
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: top;
}

.i-captrial-over {
    background: url(../res/trial_captcha_34b519f75ce14d2eee3b4b74a7b1f797.png) -74px -74px no-repeat;
}

.i-captrial-inline {
    background: url(../res/trial_captcha_34b519f75ce14d2eee3b4b74a7b1f797.png) -148px -0px no-repeat;
}

.i-captrial-wap {
    background: url(../res/trial_captcha_34b519f75ce14d2eee3b4b74a7b1f797.png) -148px -74px no-repeat;
}

.u-fitem {
    zoom: 1;
    padding-bottom: 16px;
}

.u-fitem:before, .u-fitem:after {
    content: "";
    display: table;
}

.u-fitem:after {
    clear: both;
    overflow: hidden;
}

.u-fitem label {
    float: left;
    width: 56px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    text-align: left;
}

.u-fitem input {
    float: left;
    width: 320px;
    height: 40px;
    line-height: 36px;
    box-sizing: border-box;
    padding-left: 15px;
    border: 1px solid #d7dce0;
    background-color: #fff;
    font-size: 16px;
    color: rgba(102, 102, 102, 0.5);
}

.u-fitem-capt > div {
    float: left;
}

.u-fitem-capt > div > div {
    z-index: 1;
}

.u-fitem_error {
    color: #ff5447;
    padding-left: 56px;
    display: none;
}

.m-ttab {
    padding: 32px 0 0;
}

.m-ttab .ttab_line {
    background: #f7f9fa;
}

.m-ttab a {
    display: inline-block;
    width: 126px;
    height: 56px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: 2px solid transparent;
    line-height: 54px;
    text-align: center;
    font-size: 16px;
    color: #333;
    background-color: #f7f9fa;
    vertical-align: top;
}

.m-ttab a:hover {
    color: #2875fa;
}

.m-ttab a.is-active {
    color: #2875fa;
    border-bottom-color: #2875fa;
}

.m-tcapt {
    zoom: 1;
    margin-bottom: 96px;
}

.m-tcapt:before, .m-tcapt:after {
    content: "";
    display: table;
}

.m-tcapt:after {
    clear: both;
    overflow: hidden;
}

.tcapt_desc {
    padding-top: 12px;
    font-size: 14px;
    line-height: 24px;
    color: #626366;
    text-align: left;
    text-align: justify;
}

.tcapt_item {
    width: 50%;
    margin-top: 32px;
}

.tcapt_item.is-block {
    width: auto;
}

.tcapt_item.is-block .tcapt_wrap {
    position: relative;
    height: 192px;
    max-width: none;
    width: auto;
    border: 1px solid #e4e7ef;
}

.tcapt_item.is-block .tcapt_hd {
    height: auto;
    padding: 48px 0 0 32px;
    background: transparent;
}

.tcapt_item.is-block .tcapt_content {
    position: absolute;
    padding: 0;
    top: 28px;
    right: 24px;
    width: 200px;
}

.tcapt_item.is-block .wapimg img {
    width: 112px;
    height: 112px;
}

.tcapt_item.is-left {
    float: left;
}

.tcapt_item.is-right {
    float: right;
}

.tcapt_item.is-right .tcapt_wrap {
    float: right;
}

.tcapt_item.is-center {
    margin-left: auto;
    margin-right: auto;
}

.tcapt_wrap {
    max-width: 436px;
    width: 436px;
    height: 528px;
    border: 1px solid #e6e8eb;
}

.tcapt_wrap.tcapt_wrap2 {
    height: 388px;
}

.tcapt_hd {
    height: 137px;
    padding: 31px 32px 0 31px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #f7f9fa;
}

.tcapt_content {
    width: 376px;
    padding-top: 32px;
    margin: 0 auto;
}

.wapimg img, .wapimg span {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.wapimg img {
    width: 190px;
    height: 190px;
}

.wapimg span {
    padding-top: 10px;
    font-size: 14px;
    line-height: 24px;
}

.tcapt-bind {
    display: none;
    font-size: 14px;
}

.tcapt-bind--result {
    text-align: center;
    padding-top: 20px;
}

.tcapt-bind--active {
    display: block;
}

.tcapt-bind_icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../res/web/trial_captcha_success.png?fa015740ededec1bbf7d6d92a766dd34) no-repeat;
    padding-bottom: 12px;
}

.tcapt-bind_result {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.tcapt-bind_tip {
    color: #626366;
    padding-bottom: 16px;
}

.tcapt-bind_btn {
    background-color: #2a62ff;
    color: #fff;
    line-height: 22px;
    padding: 8px 0;
    font-size: 14px;
    width: 315px;
}

.tcapt-bind_btn--login {
    width: 320px;
    margin-left: 56px;
}

.tcapt_wrap--bind {
    position: relative;
}

.tcapt_wrap--bind .yidun_popup__mask {
    visibility: hidden;
}

.tcapt_wrap--bind .yidun_popup.yidun_popup--appendto .yidun_modal {
    top: 6.5px;
    left: 27px;
}

.sense-tabs__container {
    zoom: 1;
    margin-top: 32px;
}

.sense-tabs__container:before, .sense-tabs__container:after {
    content: "";
    display: table;
}

.sense-tabs__container:after {
    clear: both;
    overflow: hidden;
}

.sense-tabs__tab {
    width: 33.33%;
    display: block;
    float: left;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 14px;
    color: #222;
    border: 1px solid #e4e7ef;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #f4f8fc;
}

.sense-tabs__tab.active {
    background-color: #fff;
    border-bottom-color: transparent;
}

.sense-tabs__tab + .sense-tabs__tab {
    border-left: none;
}

.tcapt-tabs__container {
    zoom: 1;
    margin-top: 32px;
}

.tcapt-tabs__container:before, .tcapt-tabs__container:after {
    content: "";
    display: table;
}

.tcapt-tabs__container:after {
    clear: both;
    overflow: hidden;
}

.tcapt-tabs__tab {
    width: 33.33%;
    display: block;
    float: left;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 14px;
    color: #222;
    border: 1px solid #e4e7ef;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #f4f8fc;
}

.tcapt-tabs__tab.active {
    background-color: #fff;
    border-bottom-color: transparent;
}

.tcapt-tabs__tab + .tcapt-tabs__tab {
    border-left: none;
}

.tcapt-type__container {
    padding: 0 16px 32px;
    border-right: 1px solid #e4e7ef;
    border-bottom: 1px solid #e4e7ef;
    border-left: 1px solid #e4e7ef;
    zoom: 1;
}

.tcapt-type__container:before, .tcapt-type__container:after {
    content: "";
    display: table;
}

.tcapt-type__container:after {
    clear: both;
    overflow: hidden;
}

.tcapt-type__item {
    display: none;
}

.tcapt-type__item.active {
    display: block;
}

.u-mdtitle_btn {
    color: #2a62ff;
    font-size: 14px;
    line-height: 20px;
    float: right;
}

.dun, .zan {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}

.dun {
    background-image: url(../res/next/stars/dun.png?a67f71f1f5e970d649499e0cc165f1fe);
}

.dun--full {
    background-image: url(../res/next/stars/dun_full.png?8e555dc7910daa435a53bc6c28e3ce15);
}

.dun--half {
    background-image: url(../res/next/stars/dun_half.png?2132b82972cd2eca311f8e842b6c166f);
}

.zan {
    background-image: url(../res/next/stars/zan.png?03caddf0417070a5c790a145522e315f);
}

.zan--full {
    background-image: url(../res/next/stars/zan_full.png?eb106d483dcaa0c333fbbff0a229fdea);
}

.zan--half {
    background-image: url(../res/next/stars/zan_half.png?8fab2035020835d7a5722d57931f8145);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
    .dun {
        background-image: url(../res/next/stars/dun@2x.png?83128a94c220e04a791f5a7481ad582b);
    }

    .dun--full {
        background-image: url(../res/next/stars/dun_full@2x.png?e5795fe6392bb70588421c2e9bba7b06);
    }

    .dun--half {
        background-image: url(../res/next/stars/dun_half@2x.png?6d19719394268ccb1cf0a90c601aa1e7);
    }

    .zan {
        background-image: url(../res/next/stars/zan@2x.png?67f0dbcb7f0115361e3e01fe580fa8aa);
    }

    .zan--full {
        background-image: url(../res/next/stars/zan_full@2x.png?8559571e9e6f2da0091cab537b58dd36);
    }

    .zan--half {
        background-image: url(../res/next/stars/zan_half@2x.png?6294a0956d7f9777e74544584bafb65b);
    }
}

.m-tbanner .tbanner_desc {
    padding-bottom: 8px;
}

.captcha-score {
    padding-bottom: 22px;
    font-size: 14px;
    line-height: 24px;
    color: #626366;
}

.captcha-score .star {
    position: relative;
    display: inline-block;
    height: 24px;
    padding-top: 4px;
    padding-right: 36px;
    font-size: 0;
    vertical-align: top;
}

.captcha-score .star:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 16px;
    width: 1px;
    height: 14px;
    background-color: #cfcfcf;
}

.captcha-score .star .dun + .dun, .captcha-score .star .zan + .zan {
    margin-left: 4px;
}

.captcha-score .compare {
    color: #2a62ff;
    cursor: pointer;
}

.compare-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 680px;
}

.compare-table th {
    background-color: #fafbff;
    font-size: 16px;
    color: #222;
    border-top: 1px solid #e4e7ef;
}

.compare-table td {
    font-size: 14px;
    color: #333;
}

.compare-table th, .compare-table td {
    height: 48px;
    padding-left: 48px;
    border-right: 1px solid #e4e7ef;
    border-bottom: 1px solid #e4e7ef;
}

.compare-table tr th:first-child, .compare-table tr td:first-child {
    border-left: 1px solid #e4e7ef;
}

.compare-table th:first-child {
    border-top-left-radius: 2px;
}

.compare-table th:last-child {
    border-top-right-radius: 2px;
}

.compare-table tr:last-child td:first-child {
    border-bottom-left-radius: 2px;
}

.compare-table tr:last-child td:last-child {
    border-bottom-right-radius: 2px;
}