html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
    font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
    border: 0;
}

i, cite, em, var, address, dfn {
    font-style: normal;
}

[hidefocus], summary {
    outline: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
}

sup, sub {
    font-size: 83%;
}

pre {
    font-family: monospace, monospace;
}

pre, code, kbd, samp {
    font-family: inherit;
}

q: before, q: after {
    content: none;
}

textarea {
    overflow: auto;
    resize: none;
}

label, summary {
    cursor: default;
}

a, button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
    font-weight: normal;
}

del, ins, u, s, a, a:hover {
    text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
    font: 12px/1.14 "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    color: #333;
    outline: 0;
    speak: none;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
}

a {
    color: #333;
}

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}

button {
    border: 0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ebebeb;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 32px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 32px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
}

.f-cb:after, .f-cbli li:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}

.f-cb, .f-cbli li {
    zoom: 1;
}

.f-ib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.f-dn {
    display: none;
}

.f-db {
    display: block;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.f-pr {
    position: relative;
}

.f-prz {
    position: relative;
    zoom: 1;
}

.f-oh {
    overflow: hidden;
}

.f-ff0 {
    font-family: arial, \5b8b\4f53;
}

.f-ff1 {
    font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53;
}

.f-fs1 {
    font-size: 12px;
}

.f-fs2 {
    font-size: 14px;
}

.f-fwn {
    font-weight: normal;
}

.f-fwb {
    font-weight: bold;
}

.f-tal {
    text-align: left;
}

.f-tac {
    text-align: center;
}

.f-tar {
    text-align: right;
}

.f-taj {
    text-align: justify;
    text-justify: inter-ideograph;
}

.f-vam, .f-vama * {
    vertical-align: middle;
}

.f-wsn {
    word-wrap: normal;
    white-space: nowrap;
}

.f-pre {
    overflow: hidden;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.f-wwb {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.f-ti {
    overflow: hidden;
    text-indent: -30000px;
}

.f-ti2 {
    text-indent: 2em;
}

.f-lhn {
    line-height: normal;
}

.f-tdu, .f-tdu:hover {
    text-decoration: underline;
}

.f-tdn, .f-tdn:hover {
    text-decoration: none;
}

.f-toe {
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.f-csp {
    cursor: pointer;
}

.f-csd {
    cursor: default;
}

.f-csh {
    cursor: help;
}

.f-csm {
    cursor: move;
}

.f-usn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.g-hd, .g-jp, .g-ft {
    min-width: 1000px;
}

.g-jp {
    height: 238px;
    background: url(../res/web/quick_bg.jpg?8c73ab8463ca57f57bd2a18bb23459a8) repeat;
}

.layout-container {
    box-sizing: border-box;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.g-in {
    box-sizing: border-box;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.g-hd {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-transform: translateZ(0);
}

.g-ft {
    background-color: #f8fbfd;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-ms-keyframes fadeIn {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes progressIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@-moz-keyframes progressIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@-ms-keyframes progressIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@-o-keyframes progressIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes progressIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 0.3s ease-out both;
    -moz-animation: fadeIn 0.3s ease-out both;
    -ms-animation: fadeIn 0.3s ease-out both;
    -o-animation: fadeIn 0.3s ease-out both;
    animation: fadeIn 0.3s ease-out both;
}

.ui-action {
    display: inline-block;
    width: 176px;
    height: 48px;
    text-align: center;
    line-height: 46px;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
    background-color: #2875fa;
    background-image: -webkit-linear-gradient(to bottom, #2d83fb, #2367f9);
    background-image: -moz-linear-gradient(to bottom, #2d83fb, #2367f9);
    background-image: -ms-linear-gradient(to bottom, #2d83fb, #2367f9);
    background-image: -o-linear-gradient(to bottom, #2d83fb, #2367f9);
    background-image: linear-gradient(to bottom, #2d83fb, #2367f9);
}

.ui-action:hover {
    background-color: #4185fa;
    background-image: -webkit-linear-gradient(to bottom, #4994fb, #3a77f9);
    background-image: -moz-linear-gradient(to bottom, #4994fb, #3a77f9);
    background-image: -ms-linear-gradient(to bottom, #4994fb, #3a77f9);
    background-image: -o-linear-gradient(to bottom, #4994fb, #3a77f9);
    background-image: linear-gradient(to bottom, #4994fb, #3a77f9);
}

.ui-action-sm {
    width: 160px;
    height: 46px;
    line-height: 44px;
}

.ui-action-grey {
    color: #555;
    background-color: #f3f4f6;
    background-image: -webkit-linear-gradient(to bottom, #fff, #e7eaee);
    background-image: -moz-linear-gradient(to bottom, #fff, #e7eaee);
    background-image: -ms-linear-gradient(to bottom, #fff, #e7eaee);
    background-image: -o-linear-gradient(to bottom, #fff, #e7eaee);
    background-image: linear-gradient(to bottom, #fff, #e7eaee);
    font-weight: bold;
}

.ui-action-grey:hover {
    background-color: #f9f9fa;
    background-image: -webkit-linear-gradient(to bottom, #fff, #f2f4f6);
    background-image: -moz-linear-gradient(to bottom, #fff, #f2f4f6);
    background-image: -ms-linear-gradient(to bottom, #fff, #f2f4f6);
    background-image: -o-linear-gradient(to bottom, #fff, #f2f4f6);
    background-image: linear-gradient(to bottom, #fff, #f2f4f6);
}

.m-tabs-line .tabs_hd {
    border-bottom: 1px solid #ebedf0;
    text-align: center;
    font-size: 0;
}

.m-tabs-line .tabs_hd li {
    display: inline-block;
    position: relative;
    padding: 12px 28px;
    font-size: 16px;
    line-height: 26px;
    color: #2e3033;
    text-align: center;
    cursor: pointer;
}

.m-tabs-line .tabs_hd li:hover {
    color: #2284e5;
}

.m-tabs-line .tabs_hd li:after {
    content: ".";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #2875fa;
    text-indent: -9999em;
    -webkit-transition: width 0.3s ease-out;
    -moz-transition: width 0.3s ease-out;
    -ms-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
}

.m-tabs-line .tabs_hd li.z-crt {
    color: #2284e5;
}

.m-tabs-line .tabs_hd li.z-crt:after {
    content: " ";
    width: 100%;
}

.m-qstart {
    min-width: 1200px;
    height: 238px;
    background-color: #2875fa;
    text-align: center;
}

.m-qstart h2 {
    padding-top: 55px;
    padding-bottom: 22px;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
}

.m-tyun {
    height: 28px;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -ms-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
}

.m-tyun p {
    font-size: 0;
}

.m-tyun p a + a {
    padding-left: 40px;
}

.m-tyun a {
    display: inline-block;
    padding: 8px 0;
    font-size: 12px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.4);
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

@media \0screen {
    .m-tyun a {
        color: #dee2ef;
    }
}

.m-tyun a:hover {
    color: #fff;
}

.m-tyun-normal {
    background-color: #303233;
}

.m-tyun-home {
    background-color: rgba(0, 0, 0, 0.3);
}

@media \0screen {
    .m-tyun-home {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000, endColorstr=#4c000000);
    }
}

.m-tyun-home.z-scroll {
    background-color: #303233;
}

.m-tyun-product {
    background-color: #303233;
}

.m-thead {
    height: 58px;
    background-color: #1f2533;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.m-thead .m-logo {
    float: left;
}

.m-thead .m-tnav {
    float: left;
}

.m-thead .m-right {
    float: right;
}

.m-thead-home {
    background-color: transparent;
}

.m-thead-home.z-scroll {
    background: #1f2533;
}

.m-thead-product {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.m-logo {
    padding-top: 17px;
}

.m-logo a {
    display: block;
    width: 97px;
    height: 24px;
    background: url(../res/next/logo.png?de91113365a2e88b69ec357bd1fe9d43) no-repeat;
    text-indent: -9999px;
}

.m-tnav li {
    float: left;
    position: relative;
    margin-left: 20px;
}

.m-tnav li:hover .tnav_title {
    color: #4d84ff;
}

.m-tnav li.z-sel .tnav_title {
    color: #2a62ff;
}

.m-tnav .tnav_title {
    display: block;
    height: 22px;
    padding: 18px 14px;
    line-height: 22px;
    font-size: 14px;
    color: #fff;
    cursor: default;
    position: relative;
}

.m-tnav .tnav_title:after {
    display: none;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -12px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.m-tnav .tnav_title.z-hover:after {
    display: block;
}

.m-tnav .tnav_title[href] {
    cursor: pointer;
}

.m-snav {
    position: fixed;
    top: 58px;
    margin-left: -46px;
    -webkit-transform: translateZ(0);
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    text-align: center;
    font-size: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(122, 148, 204, 0.1);
}

.m-snav .snav_cat {
    vertical-align: top;
    display: inline-block;
    width: 144px;
    text-align: left;
}

.m-snav .snav_cat dd {
    margin-bottom: 6px;
}

.m-snav .snav_cat + .snav_cat {
    padding-left: 60px;
}

.m-snav .snav_cat-title {
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    font-weight: bold;
    color: #25365c;
    border-bottom: 1px solid #e4e8f2;
    margin-bottom: 12px;
}

.m-snav a {
    display: inline-block;
    width: 144px;
    padding-left: 10px;
    margin-left: -10px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #25345c;
    cursor: pointer;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.m-snav a:hover {
    color: #2875fa;
    background: #f5f8ff;
}

.m-snav .nav_cat-popular {
    font-size: 12px;
    font-weight: bold;
    padding-left: 7px;
}

.m-snav .nav_cat-popular--hot {
    color: #e00000;
}

.m-snav .nav_cat-popular--new {
    color: #ff7040;
}

.m-snav-1line {
    text-align: left;
}

.m-snav-1line a {
    display: block;
    width: 144px;
    height: 28px;
    line-height: 28px;
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 6px;
}

.m-snav.z-hover {
    visibility: visible;
    -webkit-transition: max-height 0.3s ease-out;
    -moz-transition: max-height 0.3s ease-out;
    -ms-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
    z-index: 2;
}

.m-snav__inner--1line {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    text-align: left;
}

.m-snav-1line.z-hover {
    padding: 29px 11px 60px;
    max-height: 272px;
}

.m-snav-2line.z-hover {
    padding: 18px 60px 70px;
    max-height: 344px;
}

.m-thead--link .m-snav {
    top: 86px;
}

.m-locale {
    float: left;
    font-size: 12px;
    position: relative;
}

.m-locale__lang {
    color: #fff;
    line-height: 22px;
    height: 22px;
    padding: 18px 0 18px 18px;
}

.m-locale__lang > span {
    vertical-align: middle;
}

.m-locale__lang:after {
    content: "";
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3px;
    border-color: transparent;
    border-top-color: #fff;
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 8px;
}

.m-locale__downdrop {
    position: absolute;
    top: 38px;
    left: -16px;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(122, 148, 204, 0.1);
}

.m-locale__downdrop:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    margin: 0 auto;
}

.m-locale__menu {
    background-color: #fff;
    width: 105px;
    font-size: 0;
    padding: 26px 11px 32px;
    box-sizing: border-box;
}

.m-locale__link {
    font-size: 12px;
    color: #25345c;
    display: block;
    line-height: 28px;
    margin-bottom: 6px;
    text-align: center;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.m-locale__link:hover {
    color: #2875fa;
    background: #f5f8ff;
}

.m-locale__lang.z-hover {
    color: #4d84ff;
}

.m-locale__lang.z-hover:after {
    border-top-color: #4d84ff;
}

.m-locale__downdrop.z-hover {
    visibility: visible;
    z-index: 3;
    max-height: 170px;
    -webkit-transition: max-height 0.3s ease-out;
    -moz-transition: max-height 0.3s ease-out;
    -ms-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
}

.m-login {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    vertical-align: middle;
}

.m-login a {
    float: left;
    box-sizing: border-box;
    height: 58px;
    margin-left: 24px;
    font-size: 14px;
    line-height: 58px;
    cursor: pointer;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.m-login .login {
    color: #fff;
}

.m-login .login:hover {
    color: #2a62ff;
}

.m-login .regis, .m-login .ucenter {
    color: #fff;
    line-height: 58px;
    text-align: center;
    width: 120px;
    background: #2c6eff;
}

.m-login .login:hover {
    color: #2a62ff !important;
}

.m-login .regis:hover, .m-login .ucenter:hover {
    background-color: #2a62ff !important;
    border-color: #2a62ff !important;
    color: #fff !important;
}

.layout-footer {
    min-width: 1200px;
    background-color: #202940;
}

.footer-news {
    zoom: 1;
    text-align: center;
    padding-top: 20px;
}

.footer-news:before, .footer-news:after {
    content: "";
    display: table;
}

.footer-news:after {
    clear: both;
    overflow: hidden;
}

.footer-news__container {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    vertical-align: middle;
    height: 20px;
    overflow: hidden;
}

.footer-news__item {
    height: 20px;
    -webkit-transition: transform 0.6s linear;
    -moz-transition: transform 0.6s linear;
    -ms-transition: transform 0.6s linear;
    -o-transition: transform 0.6s linear;
    transition: transform 0.6s linear;
}

.footer-news__item a {
    display: block;
    color: #c3cde6;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer-news__angle {
    width: 0px;
    height: 0px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    vertical-align: middle;
    line-height: 20px;
    border-top: 7px solid #858ba6;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    background: transparent;
}

.footer-news__angle:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.footer-about {
    zoom: 1;
}

.footer-about:before, .footer-about:after {
    content: "";
    display: table;
}

.footer-about:after {
    clear: both;
    overflow: hidden;
}

.footer-about__item {
    float: left;
    padding-top: 40px;
    padding-bottom: 32px;
}

.footer-about__title {
    height: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #c3cde6;
    font-size: 14px;
}

.recommend {
    width: 300px;
}

.experience {
    width: 300px;
}

.about {
    width: 160px;
}

.contact {
    width: 344px;
}

.recommend__content a, .experience__content a, .about__content a, .contact__content, .wechat__content {
    color: #7a8399;
    font-size: 12px;
    line-height: 18px;
}

.recommend__content, .experience__content, .about__content, .contact__content {
    padding-bottom: 9px;
}

.recommend__content a:hover, .experience__content a:hover, .about__content a:hover, .contact__content a:hover {
    color: #2284e7;
}

.wechat__content {
    opacity: 1;
    filter: alpha(opacity=100);
}

.recommend__item {
    float: left;
}

.recommend__item + .recommend__item {
    margin-left: 48px;
}

.contact__blank {
    display: inline-block;
    vertical-align: top;
}

.wechat__image {
    display: block;
    width: 96px;
    height: 96px;
}

.footer-company {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-left: none;
    border-right: none;
}

.friend__wrap {
    zoom: 1;
}

.friend__wrap:before, .friend__wrap:after {
    content: "";
    display: table;
}

.friend__wrap:after {
    clear: both;
    overflow: hidden;
}

.friend__title, .friend__content {
    float: left;
    line-height: 17px;
}

.friend__title, .friend__title a, .friend__content, .friend__content a {
    color: #606980;
    font-size: 12px;
}

.friend__title {
    color: #838a9a;
}

.friend__content {
    padding-left: 32px;
}

.friend__content a:hover {
    color: #2284e7;
}

.footer-copyright {
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    color: #606980;
    line-height: 17px;
}

.copyright {
    height: 20px;
    line-height: 20px;
    color: #717386;
    text-align: center;
    font-size: 14px;
}

.register-outer {
    width: 100%;
    background: #3c70f9;
}

.register {
    min-width: 1200px;
    max-width: 1920px;
    margin: 0 auto;
    background: url(../res/next/register_bg.jpg?d8811ce21dcabd46f457b6913a00aa74) center repeat;
}

.register__container {
    width: 1200px;
    height: 172px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.register__title {
    float: left;
    padding-left: 104px;
    font-size: 30px;
    margin-top: 65px;
    line-height: 42px;
    color: #fff;
    letter-spacing: 0.54px;
}

.register__input-wrap {
    float: right;
    position: relative;
    width: 480px;
    height: 52px;
    margin-top: 60px;
    margin-right: 60px;
    background-color: #fff;
    border-radius: 1px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 11, 38, 0.1);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 11, 38, 0.1);
    -ms-box-shadow: 0 4px 8px 0 rgba(0, 11, 38, 0.1);
    -o-box-shadow: 0 4px 8px 0 rgba(0, 11, 38, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 11, 38, 0.1);
    text-align: left;
}

.register__input-wrap:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 11, 38, 0.1);
    -moz-box-shadow: 0 8px 16px 0 rgba(0, 11, 38, 0.1);
    -ms-box-shadow: 0 8px 16px 0 rgba(0, 11, 38, 0.1);
    -o-box-shadow: 0 8px 16px 0 rgba(0, 11, 38, 0.1);
    box-shadow: 0 8px 16px 0 rgba(0, 11, 38, 0.1);
}

.register__input {
    width: 276px;
    padding: 14px 0;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 20px;
}

.register__input::placeholder {
    color: #adbad9;
}

.register__submit {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 160px;
    height: 44px;
    line-height: 44px;
    border-radius: 1px;
    background-color: #2c6eff;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.register__submit:hover {
    background-color: #4475ff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.u-btn3 {
    display: block;
    width: 400px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: #dcdee0;
    font-size: 18px;
    color: #fff;
    cursor: default;
}

.u-btn3-act {
    background-color: #2987e6;
    cursor: pointer;
}

.u-btn3-act:hover, .u-btn3-act:active {
    background-color: #2578cc;
}

.m-dialog2 {
    display: none;
    z-index: 100000;
}

.m-dialog2 .dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    filter: alpha(opacity=40);
    z-index: 100000;
}

.m-dialog2 .dialog2-ctn {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 680px;
    height: 486px;
    margin-left: -340px;
    margin-top: -288px;
    padding-bottom: 90px;
    border-radius: 2px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 20px rgba(6, 0, 1, 0.2);
    -moz-box-shadow: 0 0 20px rgba(6, 0, 1, 0.2);
    -ms-box-shadow: 0 0 20px rgba(6, 0, 1, 0.2);
    -o-box-shadow: 0 0 20px rgba(6, 0, 1, 0.2);
    box-shadow: 0 0 20px rgba(6, 0, 1, 0.2);
    background-color: #fff;
    z-index: 100000;
}

.m-dialog2 .dialog2-ctn h2 {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 20px;
    color: #212326;
    text-align: center;
}

.m-dialog2 .dialog-close {
    position: absolute;
    right: 20px;
    top: 0;
    width: 30px;
    height: 45px;
    background: url(../res/login_sprite.png?76ea254890cab4cbb6541e1df0bafc04) no-repeat 10px 13px;
    cursor: pointer;
}

.m-dialog2 .dialog-close:hover, .m-dialog2 .dialog-close:active {
    background-color: #f5f7fa;
}

.m-form {
    text-align: left;
    margin: 0 auto;
    width: 400px;
}

.m-form .fitem {
    position: relative;
    padding-bottom: 20px;
    font-size: 14px;
}

.m-form .fitem input:disabled {
    background-color: transparent;
    cursor: not-allowed;
}

.m-form .fitem .fmask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #dcdee0;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.m-form .fitem .ipt {
    position: relative;
    height: 50px;
    border: 1px solid #d8e1f0;
    border-radius: 3px;
}

.m-form .fitem .ipt input {
    display: block;
    overflow: hidden;
    border: none;
    width: 180px;
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    font-size: 14px;
}

.m-form .fitem .ipt input::-webkit-input-placeholder {
    color: #b9babc;
    font-size: 14px;
}

.m-form .fitem .ipt input::-moz-placeholder {
    color: #b9babc;
    font-size: 14px;
}

.m-form .fitem .ipt input:-ms-input-placeholder {
    color: #b9babc;
    font-size: 14px;
}

.m-form .fitem .ipt input:-moz-placeholder {
    color: #b9babc;
    font-size: 14px;
}

.m-form .fitem .lab {
    position: relative;
    float: left;
    width: 116px;
    height: 50px;
    line-height: 50px;
    color: #212326;
}

.m-form .fitem .lab span {
    display: inline-block;
    vertical-align: middle;
}

.m-form .fitem .tail {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
}

.m-form .fitem .vcode {
    float: right;
    margin-top: 7px;
    margin-right: 7px;
    width: 97px;
    height: 36px;
}

.m-form .fitem .vcode img {
    display: none;
    max-width: 97px;
    max-height: 36px;
}

.m-form .fitem .clear {
    display: none;
    float: right;
    width: 10px;
    height: 10px;
    margin-top: 20px;
    margin-right: 10px;
    background: url(../res/login_sprite.png?76ea254890cab4cbb6541e1df0bafc04) no-repeat 0 -50px;
    cursor: pointer;
}

.m-form .fitem .ok {
    position: absolute;
    right: -36px;
    top: 19px;
    width: 16px;
    height: 16px;
    background: url(../res/login_sprite.png?76ea254890cab4cbb6541e1df0bafc04) no-repeat 0 -100px;
    display: none;
}

.m-form .fitem .sms {
    float: right;
    width: 98px;
    margin-top: 7px;
    margin-right: 7px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #dcdee0;
    color: #fff;
}

.m-form .fitem .sms-act {
    background-color: #549feb;
    cursor: pointer;
}

.m-form .fitem .sms-act:hover, .m-form .fitem .sms-act:active {
    background-color: #4b8fd3;
}

.m-form .fitem .u-need {
    position: absolute;
    right: 13px;
    top: 22px;
    line-height: 1;
    color: #f00;
}

.m-form .fitem .u-lab {
    padding-left: 20px;
}

.m-form .fitem .u-split {
    position: absolute;
    right: 0;
    top: 12px;
    width: 1px;
    height: 30px;
    background-color: #d8e1f0;
    overflow: hidden;
}

.m-form .fitem .tip {
    height: 16px;
    padding-top: 8px;
    padding-left: 137px;
    font-size: 12px;
    line-height: 16px;
    color: #ff5c57;
    display: none;
    vertical-align: middle;
}

.m-form .fitem .tip:before {
    content: " ";
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: url(../res/login_sprite.png?76ea254890cab4cbb6541e1df0bafc04) no-repeat 0 -150px;
}

.m-form .fitem-dis .fmask {
    display: block;
}

.m-form .fitem-err .ipt {
    border-color: #ff5c57;
}

.m-form .global-err {
    text-align: center;
    color: #ff5c57;
    line-height: 1.3;
}

.m-form .fbtns {
    padding-top: 19px;
}

.m-form .logout {
    text-align: right;
    font-size: 14px;
    padding-top: 14px;
}

.m-form .logout a {
    color: #b9babc;
}

.m-form .logout a:hover {
    color: #2578cc;
}

.m-ie8 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.m-ie8 .ie8-mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}

.m-ie8 .ie8-box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -140px;
    opacity: 1;
    filter: alpha(opacity=100);
    filter: alpha(opacity=100);
    width: 500px;
    height: 280px;
    background-color: #fff;
    border-radius: 2px;
    background: #fff url(../res/ie8.png?75b88918daff469b2d8b5c0c6f564c53) no-repeat center 40px;
    text-align: center;
}

.m-ie8 .ie8-box h5 {
    padding-top: 158px;
    font-size: 18px;
    color: #212326;
}

.m-ie8 .ie8-box p {
    padding-top: 60px;
    font-size: 14px;
    color: #77828c;
}

.m-ie8 .ie8-box a {
    color: #2987e6;
}

.yd404 {
    background-color: #f5f7fa;
}

.yd404 .m-404 {
    padding-top: 158px;
    height: 528px;
}

.yd404 .m-404 .img {
    width: 300px;
    height: 191px;
    margin: 0 auto;
    background: url(../res/404.png?f4597857dd9f33daada45f2c9d30a088) no-repeat 0 0;
}

.yd404 .m-404 p {
    padding-top: 30px;
    text-align: center;
    color: #212326;
    font-size: 18px;
}

.m-im {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 50%;
    margin-top: -100px;
    -webkit-transform: translateZ(0);
}

.m-im .item.client {
    background-color: #ffa040;
}

.m-im .item.client:hover, .m-im .item.client:active {
    background-color: #e6903a;
}

.m-im > .item {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    background-color: #2a62ff;
    cursor: pointer;
    text-align: center;
}

.m-im > .item:hover, .m-im > .item:active {
    background-color: #2658e6;
}

.m-im > .item + .item {
    margin-top: 1px;
}

.m-im .item-top {
    height: 48px;
    overflow: hidden;
    display: none;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(41, 92, 204, 0.15);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.m-im .item-top:hover, .m-im .item-top:active {
    background-color: #fff;
}

.m-im .item-top:hover .i-im-3, .m-im .item-top:active .i-im-3 {
    background: url(../res/next/scroll_top_icon_hover.png?06d8e815516331469ac728be4738761f) no-repeat;
}

.m-im .item-top.z-act {
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-im .item {
    position: relative;
    cursor: pointer;
}

.m-im .item:hover .im-tip-wrap {
    visibility: visible;
    right: 49px;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.m-im .im-tip-wrap {
    height: 48px;
    width: 184px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.m-im .im-tip-content {
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
    display: block;
    height: 48px;
    width: 184px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(41, 92, 204, 0.15);
    border-radius: 1px;
    color: #2c6dfe;
    font-size: 14px;
    line-height: 48px;
    text-align: left;
    cursor: default;
}

.m-im .im-tip-content:after {
    content: "";
    position: absolute;
    top: 17px;
    right: -14px;
    width: 0;
    height: 0;
    border-left: 8px solid #fff;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid transparent;
}

.i-im {
    width: 28px;
    height: 28px;
    margin-top: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -9999px;
}

.i-im-1 {
    background: url(../res/next/webqq_icon.png?3b196752eae585e45d20c15787b50094) no-repeat;
}

.i-im-2 {
    background: url(../res/next/teleph_icon.png?95d10428e7645f28ab01b436239bb72d) no-repeat;
}

.i-im-3 {
    background: url(../res/next/scroll_top_icon.png?bb303f45e708f60ce496e049e34eec74) no-repeat;
}

.i-im-4 {
    height: 28px;
    background-position: -141px 0;
}

.i-im-5 {
    background: url(../res/next/icon_im_online.png?a3115a3976787d29eda66e64258d88da) no-repeat;
}

.m-trial {
    background: url(../res/solution/solution-socialft.png?cdf39b25abbf69d6f0e20a5d1af52372) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 60px 0;
}

.m-trial h2 {
    font-size: 30px;
    line-height: 30px;
    color: #212326;
}

.m-trial .freeuse {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 30px auto 0;
    width: 182px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #2284e6;
    border-radius: 2px;
    color: #2284e6;
    text-align: center;
    font-size: 16px;
}

.m-trial .freeuse:hover {
    background: #2987e6;
    color: #fff;
}

.m-quicks {
    text-align: center;
}

.m-quicks h2 {
    padding-top: 56px;
    padding-bottom: 24px;
    font-size: 24px;
    line-height: 1;
    color: #fff;
}

.m-quicks a {
    display: inline-block;
    height: 44px;
    padding: 0 59px;
    line-height: 43px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.m-quicks a:hover {
    background-color: #fff;
    color: #2a62ff;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
    .m-logo a {
        background-image: url(../res/next/logo@2x.png?ba39203ddf52ff3656f5a9b8419f3f20);
        background-size: cover;
    }

    .i-im-1 {
        background-image: url(../res/next/webqq_icon@2x.png?081f23955ff245d3da7f9ac59485319c);
        background-size: cover;
    }

    .i-im-2 {
        background-image: url(../res/next/teleph_icon@2x.png?c431b5e69e3f038b8ee2400c9308bfba);
        background-size: cover;
    }

    .i-im-3 {
        background-image: url(../res/next/scroll_top_icon@2x.png?51cee51b284f75deb9d82bc0445cd6aa);
        background-size: cover;
    }

    .i-im-5 {
        background-image: url(../res/next/icon_im_online@2x.png?4f28918297ffe39ef2c29dec16038454);
        background-size: cover;
    }

    .m-im .item-top:hover .i-im-3, .m-im .item-top:active .i-im-3 {
        background: url(../res/next/scroll_top_icon_hover@2x.png?3e164ffc80ccdebe121201e179b9aff5) no-repeat;
        background-size: cover;
    }

    .m-im .item-phone:hover, .m-im .item-phone:before {
        background: url(/public/res/next/im_call@2x.png) no-repeat;
        background-size: cover;
    }
}

.mdialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
}

.mdialog__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
}

.mdialog__wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 2px 16px 0 rgba(14, 21, 37, 0.4);
    -moz-box-shadow: 0 2px 16px 0 rgba(14, 21, 37, 0.4);
    -ms-box-shadow: 0 2px 16px 0 rgba(14, 21, 37, 0.4);
    -o-box-shadow: 0 2px 16px 0 rgba(14, 21, 37, 0.4);
    box-shadow: 0 2px 16px 0 rgba(14, 21, 37, 0.4);
    padding: 40px;
    background-color: #fff;
    border-radius: 4px;
}

.mdialog__header {
    padding-bottom: 40px;
}

.mdialog__title {
    text-align: center;
    font-size: 24px;
    color: #222;
    line-height: 33px;
}

.mdialog__close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 16px;
    background: url(../res/next/icon_close.png?4e286d56992e6e4a3dcccd57054c010d) no-repeat;
    cursor: pointer;
}

.mdialog__body {
    padding-bottom: 32px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
    .mdialog__close {
        background-image: url(../res/next/icon_close@2x.png?65ede58ed8725a2bbb1c7f75619fbaa1);
        background-size: cover;
    }
}